<apex:page sidebar="​false">
<h1>Opportunity Details</h1>
<wave:dashboard dashboardId="0FK2v0000008W6bGAO"
                 showTitle="true"
                 height="600px"
                 openLinksInNewWindow="true"
/>
</apex:page>